# Gradle and Android Studio
.gradle/
.gradle-wrapper/
.idea/
*.iml
local.properties

# Build outputs
build/
**/build/
**/build/generated/
**/build/intermediates/
**/build/kotlin/
**/build/outputs/
**/build/tmp/

# Native and temp artifacts
.externalNativeBuild/
.cxx/
captures/
*.log
.DS_Store

gradle-8.1.1-bin.zip